.wrapper {
    display: grid;
    grid-template-columns: 7fr 3fr 3fr;
    grid-gap: 1em;
}

.wrapper > div{
            background:#eee;
            padding:1em;
        }
.wrapper > div:nth-child(odd){
            background:#eee;
        }

.box_menu {
    align-self: center;
}

.box_menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(2px,auto);
}

.box_menu > div {
    border: #333 1px solid;
}

.box_menu > div {
    background: #eee;
    padding: 1em;
}

.box_menu > div:nth-child(odd) {
        background: #ddd;
        padding: 1em
}